@import './mixin';

.mint-cell {
  .mint-cell-wrapper {
    .mint-cell-value {
      span {
        font-size: 12px;
      }
      img {
        border-radius: Rem(25);
        width: Rem(50);
        margin: Rem(5);
      }
    }
  }
}

.btn-default {
  width: 90%;
  margin: 5%;
}

.nav-header {
  background: #fff;
  color: #000;
}

.nav-body {
  position: absolute;
  left: 0;
  right: 0;
  top: 40px;
}
